@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    background-color: #FFFFFF;
}

header{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer{
    width: 97%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.logoHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.buttonsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 290px;
}

button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #35ABFF;
    background-color: rgba(10, 153, 254, 0.1);
    border: 0px transparent;
    border-radius: 6px;
    height: 35px;
    width: 135px;
}

/* button:hover{
    background-color: #0A99FE;
    color: #FFFFFF;
} */

button:active{
    background-color: #0A99FE;
    color: #FFFFFF;
}

main{
    width: 100%;
    height: 90vh;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.titleSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleSectionDiv{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #1B1B1B;
    font-weight: 400;
}

.paintingsList, .figuresList{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    overflow-x: auto;
}

.listDiv{
    height: 300px;
}

.listCard{
    width: 207px;
    height: 275px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F8F8F8;
    border: 2px transparent;
    border-radius: 15px;
}

.cardImageDiv{
    width: 207px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DADADA;
    border: 2px transparent;
    border-radius: 15px 15px 0px 0px;
}

.cardImage{
    height: 100%;
    object-fit: cover;
}

.cardTitle{
    height: 23px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1B1B1B;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardPrice{
    height: 23px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #868383;
}

.paintingsList::-webkit-scrollbar, .figuresList::-webkit-scrollbar, body::-webkit-scrollbar{
    width: 12px;
    height: 10px;
}
  
.paintingsList::-webkit-scrollbar-track, .figuresList::-webkit-scrollbar-track, body::-webkit-scrollbar-track{
    background:black
}
  
.paintingsList::-webkit-scrollbar-thumb, .figuresList::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
    border: 3px solid black
}